---
const today = new Date()
---

<footer>
  &copy; {today.getFullYear()}  <a href="https://x.com/yusukev_" target="_blank">Yusuke</a>. All rights reserved.
</footer>
<style>
  footer {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 2em 1em 6em 1em;
    background: #fff;
    color: rgb(var(--gray));
    text-align: left;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
