---
import { SITE_TITLE } from '../consts'
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
  </nav>
</header>
<style>
  header {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
  }
  nav {
    display: flex;
    align-items: center;
  }
  h2 {
    margin: 0;
    font-size: 1.2em;
  }
  nav h2 a {
    text-decoration: none;
    padding: 1em 0.5em;
    color: var(--black);
  }
</style>
